.buildingUseInfomodeCheckBoxRow {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    padding-top:        0rem;
    padding-left:       0rem;
    padding-right:      0rem;
    padding-bottom:     5rem;
}
