.buildingUseInfomodeCheckBoxRow {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    margin-top:         0rem;
    margin-left:        0rem;
    margin-right:       0rem;
    margin-bottom:      5rem;
}
